body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
* {
  text-decoration: none;
  color: $color_1;
  box-sizing: border-box;
}
/**loader**/

/******Animation du Loader de chargement************/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.299);
  z-index: 99999;
  top: 0;
  left: 0;
  animation: fadeOut 1s linear 1s forwards;
}

.loader {
  height: 150px;
  width: 150px;
  border-top: 8px solid pink;
  border-right: 8px solid transparent;
  border-bottom: 8px solid pink;
  border-left: 8px solid transparent;
  border-radius: 100px;
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/***reservation**/

.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  h1 {
    padding: 40px 55px 0px 55px;
    text-align: center;
    margin: 0;
    font-family: $font-family_2;
    font-size: 30px;
    font-weight: 700;
  }
  p {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    color: $color_3;
    font-size: 18px;
    font-family: $font-family_2;
    font-weight: 300;
  }
}
.button-CTA {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: $color_4;
  font-size: 16px;
  font-family: $font-family_3;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 40px;
  border: none;
  margin: 30px 0 40px 0;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
  cursor: pointer;
  transition: all 300ms;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.493);
    opacity: 0.8;
  }
}

/***functionnement***/

.fonctionnement {
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  h2 {
    font-family: $font-family_2;
    font-size: 24px;
    font-weight: 700;
  }
  .fonctionnement__choix-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fonctionnement__choix-container__composant {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: $font-family_4;
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493);
  }
  span {
    position: absolute;
    top: 20px;
    left: -10px;
    display: flex;
    height: 24px;
    width: 24px;
    background: #9356dc;
    border-radius: 200px;
    color: $color_4;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-family: $font-family_5;
  }
  .container__icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 15px;
    margin-left: 30px;
  }
  .fa-solid {
    font-weight: 900;
  }
  .fa-solid.fa-mobile-screen-button {
    color: $color_5;
  }
  .fa-solid.fa-list {
    color: $color_5;
  }
  .fa-solid.fa-store {
    color: $color_6;
  }
}

a {
  color: $color_2;
}

/****section restaurants****/
.restaurants {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f6f6f6;
  padding: 50px 20px;

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}
.restaurants__card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #ffffff;
  a {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 275px;
    img {
      height: 75%;
      width: 100%;
      object-fit: cover;
    }
    .restaurants__card__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
      h3 {
        font-size: 18px;
        font-family: $font-family_4;
        font-weight: 700;
        margin: 0;
        color: $color_2;
      }
      p {
        margin: 0;
        font-size: 17px;
        font-family: $font-family_2;
        font-weight: 300;
        color: #000000;
      }
    }
  }
  .restaurants__card__content__heart {
    position: absolute;
    top: 225px;
    right: 45px;

    i {
      position: absolute;
      font-size: 1.3rem;
    }
    .fa-solid {
      opacity: 0;
      color: transparent;
      background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 0.4s ease-in-out;
    }
    &:hover {
      .fa-regular {
        opacity: 0;
        transition: all 300ms;
      }
      .fa-solid {
        opacity: 1;
        transition: all 300ms;
      }
    }
  }
}

.restaurants__card__nouveau {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color_2;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  p {
    color: $color_8;
    font-family: $font-family_3;
  }
}
