/**header**/
.fa-arrow-left{
  position: absolute;
  left:10px;
  top:10px;
}

.accueil-image-restaurant {
  height: 240px;
  width: 100%;
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

  
  

