$color_1: inherit;
$color_2: black;
$color_3: #353535;
$color_4: white;
$color_5: #7e7e7e;
$color_6: #9356dc;
$color_7: transparent;
$color_8: #008766;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: Roboto, sans-serif;
$font-family_3: Roboto;
$font-family_4: roboto, sans-serif;
$font-family_5: "roboto";
$background-color_1: #f6f6f6;
$background-color_2: #99E2D0;
